@import "../utilities/mixins";
@import "../utilities/variables";

.mainContacto{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)), url('../img/fondo.png') center center / cover no-repeat;
    @include measures (100%, auto);
    @include flex(center, center, 0);
    .contacto{
        margin: 2rem 0 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;    
        font-size: 1.8rem;
        @include measures (70%, auto);
        label{
            span{
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 1rem;
            color: map-get($map: $colores, $key: title);
            padding: .3rem 0rem;
            }
        }
        input{
            padding: 1rem;
            font-size: 1.1rem;
            border: #CBB5F5 solid .1rem;
            &:focus{
                border-color: map-get($map: $colores, $key: focus);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                outline: 0 none;
            }
        }
        textarea{
            padding: 1rem;
            font-size: 1.2rem;
            border: #CBB5F5 solid .1rem;
            placeholder{
                font-size: large;
            }
            &:focus{
                border-color: map-get($map: $colores, $key: focus);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                outline: 0 none;
            }
        }
        .contactoBoton{
            width: 35%;
            font-size: 1.6rem;
            padding: 1rem;
            border: none;
            border-radius: 0.20rem;
            background-color: map-get($map: $colores, $key: boton);
            color: map-get($map: $colores, $key: laven);
            &:hover{
                color: map-get($map: $colores, $key: focus);
                background-color: map-get($map: $colores, $key: laven);
            }  
        }
    }
    @media only screen and (max-width: 63rem){
        .contacto{
            .contactoBoton{
                width: 100%;
            }
        }
    }
}
